<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>顯示所有資料</title>
    </head>
    <body>
        <h2>顯示 列表 所有資料</h2>

        {% for state in states %}
        編號： {{state.id}} <br  />
        名字： {{state.name}} <br  />
        級別： {{state.level}} <br  />
        <br  />
        {% endfor %}
    </body>
</html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>